   <footer>

        <address id="contact">

            Telefon:
            <a href="tel:+40740949631">+40 740 949 631</a>
            <br>

            Adresă:
            <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank"
                rel="noopener noreferrer">
                Strada X nr. 10<br>
                București, România
            </a>
            <br>

            Email:
            <a href="mailto:contact@glowskin.ro">contact@glowskin.ro</a>
            <br>

            WhatsApp:
            <a href="https://wa.me/40740949631" target="_blank" rel="noopener noreferrer">
                Deschide chat WhatsApp
            </a>

        </address>
        <p>
            <small>
                &copy; GlowSkin. Pagină creată la
                <time datetime="2026-03-10">10 martie 2026</time>.
                Toate drepturile rezervate.
            </small>
        </p>
        <p><a href="#acasa" id="link-top" title="Mergi la începutul paginii"><span id="triunghi">&#9650;</span></a></p>
    </footer>