<meta charset="UTF-8">
<title><%= titluPagina %> - GlowSkin</title>
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resurse/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resurse/ico/favicon-16x16.png">
<link rel="manifest" href="/resurse/ico/site.webmanifest">
<link rel="stylesheet" href="/resurse/css/style.css">
<meta name="msapplication-TileColor" content="#f4c2c2">

<meta name="author" content="Iasmina Vintu">
<meta name="keywords" content="cosmetice, skincare, ingrijirea pielii, crema hidratanta, ser facial, GlowSkin">
<meta name="description"
    content="GlowSkin este un brand de cosmetice care oferă produse pentru îngrijirea pielii și menținerea unui ten sănătos și strălucitor.">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="/resurse/css/meniu.css">